@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

.perfil{
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}


.portfolio-box .portfolio-layer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(rgba(0, 0, 3, 20), var(--second-bg-color));
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
	padding: 0 4rem;
	transform: translateY(100%);
	transition: 0.5s ease;
  }

  .portfolio-box:hover img {
	transform: scale(1.1);
  }


.portfolio-box:hover .portfolio-layer {
	transform: translateY(0);
  }
  
  